.leaflet-popup{
    display:none;
}

#place-search{
    display:none;
}

#find-me-btn{
        display:none;
}

#burger-btn{
        display:none;
}

#base-layers-btn{
        display:none;
}

#about-btn{
    display:none;
}


i.material-icons.gc2-session-unlock{
     display:none;
}

.nav-item.about-btn {
    display: none;
}

.nav-item.reset-btn {
    display: none;
}
.leaflet-control-boxzoom.leaflet-bar.leaflet-control-custom.leaflet-control {
    display: none;
}

.leaflet-bar-part.leaflet-bar-part-single.js-measurements-control {
    display: none;
}
