.leaflet-popup{
    display:none;
}

#place-search{
    display:none;
}

#find-me-btn{
        display:none;
}

#burger-btn{
        display:none;
}

#base-layers-btn{
        display:none;
}

#about-btn{
    display:none;
}

.custom-search::placeholder {
    color: transparent; /* Hide the original placeholder text */
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='200px'><text x='0' y='15' fill='gray' font-size='15'>hello jonas</text></svg>");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}

i.material-icons.gc2-session-unlock{
     display:none;
}

.nav-item.about-btn {
    display: none;
}

.nav-item.reset-btn {
    display: none;
}
.leaflet-control-boxzoom.leaflet-bar.leaflet-control-custom.leaflet-control {
    display: none;
}

.leaflet-bar-part.leaflet-bar-part-single.js-measurements-control {
    display: none;
}

.legend-btn {display: none;}
